@{
    Layout = null;
}
<html>
<head>
    <link href="~/Content/css/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<style type="text/css">
        #number, #proName {
            width: 15%;
            margin-right: 20px;
        }



        #btnQuery {
            margin-right: 20px;
            margin-left: 20px;
        }
    </style>*@


</head>
<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <!--正文部分-->
        <div class="bg-light" style="height: 60rem;">
            <div class="templatemo-content-container">
                <div class="templatemo-content-widget no-padding">
                    <!--表头-->
                    <div class="panel-heading templatemo-position-relative">
                        <ul class="breadcrumb">
                            <li><a href="#">权限管理</a></li>
                            <li class="active">角色管理</li>
                        </ul>
                        <div class="input-group">
                            <input id="number" type="text" class="form-control" placeholder="序号">
                            <input id="proName" type="text" class="form-control" placeholder="项目名称">
                            <button id="btnQuery" class="btn btn-primary">查询</button>
                        </div>
                    </div>

                    <!--内容-->
                    <div class="panel panel-default table-responsive" id="mainContent">

                    </div>
                </div>
            </div>
        </div>



        <!--分页部分-->
        <div id="example" style="text-align: center" class="bg-light">
            <ul id="pageLimit"></ul>
        </div>

    </div>

    <script src="~/Content/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Content/js/popper.js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap/js/bootstrap-paginator.min.js"></script>
    <script src="~/Content/js/actionView/UserRoleManagement.js"></script>
    @*<script src="~/Content/js/chart.js/chart.min.js"></script>
        <script src="~/Content/js/carbon.js"></script>
        <script src="~/Content/js/demo.js"></script>*@
</body>
</html>
