
@{
  
    Layout = "~/Views/Shared/_LayoutBootStrap.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutBootStrapUsing</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
