
@{
    Layout = null;
    var user = ViewBag.user as ViewModel.QQUserInfo;
    var userName = user?.Nickname;
    var figureurl = user?.Figureurl_1;
}

<script src="~/Content/js/jquery/jquery-2.1.0.min.js"></script>
<script>
    $(function () {
        console.log("接收到数据");
        window.parent.sonsay("@userName","@figureurl");
            @*function to() {
                console.log("接收到数据");
                window.parent.sonsay(@userModel.nickname);
            }*@
        })
</script>
<h1 style="text-align:center">@userName 登陆中跳转中...........</h1>

