
@{
    Layout = null;
    string message = "<strong><font color='red'>This is bold!</font></strong>";
    string test = " < i class='icon icon-target'>";
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Test</title>
    </head>
    <body>
        <div>
            <p><span>@Html.Raw(message)</span></p> @*生成红色加粗字体This is bold!*@



        </div>

        <div style='height:2cm;'>
            <span style='margin: 0px; padding: 0px; line-height:2cm;font-family:Microsoft YaHei; float:left'>test</span>
            <img src='http://pic40.nipic.com/20140412/18428321_144447597175_2.jpg' style='width:2cm; height:2cm;' />
        </div>

        <div style='height:2cm;'>
            <span style='margin: 0px; padding: 0px; line-height:2cm;font-family:Microsoft YaHei;float:left'>测试主要攻破知识点描述</span>
            <img src='D:\temp\imgCode.png' style='width:2cm; height:2cm;' />
        </div>
        @*<div style="height:2cm; text-align:center; line-height:2cm;">
            <p style="font-family:Microsoft YaHei; font-weight:bold;">test</p>
            <img src='http://pic40.nipic.com/20140412/18428321_144447597175_2.jpg' style='width:2cm; height:2cm;' />
        </div>*@
    </body>
</html>
